@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    padding: 20px;
    background-color: rgb(23, 21, 33);
    color:white;
}
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav button {
    padding: 5px 10px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
}